html, body {
    height: 100%;
    margin: 0px;
}

.hidden {
    display: none;
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('./font/Abel-Regular.eot');
    src: url('./font/Abel-Regular.eot?#iefix') format('embedded-opentype'), url('./font/Abel-Regular.woff') format('woff'), url('./font/Abel-Regular.ttf') format('truetype'), url('./font/Abel-Regular.svg#Abel-Regular') format('svg');
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

#pageNavbar {
    position: fixed;
    width: 100%;
    color: white;
    height: 1vh;
}

.homeBackground {
    background-image: url("../images/croppedM82.jpg");
    background-size: cover;
    /*Allows us to vertically center header*/
    display: table;
}

#header {
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 45px;
}

.headerName {
    font-size: 60px;
}

.headerDivider {
    background: white;
}

.extraSpacing {
    height: 20%;
}