/* Global */
html, body {
    height: 100%;
    margin: 0px;
}

.hidden {
    display: none;
}

.inlineBlock {
    display: inline-block;
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('./font/Abel-Regular.eot');
    src: url('./font/Abel-Regular.eot?#iefix') format('embedded-opentype'), url('./font/Abel-Regular.woff') format('woff'), url('./font/Abel-Regular.ttf') format('truetype'), url('./font/Abel-Regular.svg#Abel-Regular') format('svg');
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

/* Navbar */
#pageNavbar {
    width: 100%;
    color: white;
}

.nav-item {
    cursor: pointer;
    display: inline-block;
}

/* Home */
.homeBackground {
    background-image: url("../images/croppedM82.jpg");
}

.backgroundShift {
    position: absolute;
    top: 0;
    z-index: -1;
}

.table {
    display: table;
    margin-bottom: 0;
}

#headerContainer {
    display: table;
}

#header {
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 45px;
}

.headerName {
    font-size: 60px;
}

.headerDivider {
    background: white;
    width: 60%;
}

.extraSpacing {
    height: 20%;
}