html, body {
    height: 100%;
    margin: 0px;
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('./font/Abel-Regular.eot');
    src: url('./font/Abel-Regular.eot?#iefix') format('embedded-opentype'), url('./font/Abel-Regular.woff') format('woff'), url('./font/Abel-Regular.ttf') format('truetype'), url('./font/Abel-Regular.svg#Abel-Regular') format('svg');
}

.fullHeight {
    height: 100%;
}

#backgroundImage {
    background-image: url("../images/croppedM82.jpg");
    background-size: cover;
    /*Allows us to vertically center header*/
    display: table;
}

#header {
    font-size: 60px;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.extraSpacing {
    height: 20%;
}